{%- assign u = site.utterances -%}
{%- if u.enabled and page.comments != false -%}
<section class="comments">
  <hr>
  <h2 class="comments-title">Comments</h2>
  <script src="https://utteranc.es/client.js"
          repo="{{ u.repo }}"
          issue-term="{{ u.issue_term | default: 'pathname' }}"
          label="{{ u.label | default: 'comment' }}"
          theme="{{ u.theme | default: 'preferred-color-scheme' }}"
          crossorigin="anonymous"
          async>
  </script>
</section>
{%- endif -%}
